Checks: >
  -*,
  bugprone-*,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  misc-*,
  clang-analyzer-cplusplus*

CheckOptions:
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-use-auto.MinTypeNameLength
    value:           3
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'

